header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 1.4em;
}

ul li a {
    text-decoration: none;
}

.editContatoContainer {
    display: flex;
    justify-content: space-around;

}


 main {
    display: flex;
    justify-content: center;
    flex-direction: row;
} 

button {
    align-self: flex-start;
}

section {
    width: 100%;
    display: flex !important;
    flex-direction: row;
    gap: 1em;
} 