header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 1.4em;
}

ul li a {
    text-decoration: none;
}

main {
    display: flex;
    justify-content: center;
}

section {
    display: flex !important;
    gap: 1em;
}