form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
}


form label {
    display: block;
}

.cadastrarSexoContainer label {
    display: inline-block;
}

#labelSexo {
    display: block  !important;
}