table, tr, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    border-radius: 3em;
}

table {
    min-width: 100%;
}
th, td {
    padding: 0.5em;

}
a {
    text-decoration: none;
}

.adicionarTarefasButton,
.adicionarTarefasButton {
    background-color: rgb(117, 255, 99);
    border-radius: 5%;
    padding: 1em;
    border: none;
    cursor: pointer;
}

.adicionarTarefasButton:hover,
.adicionarTarefasButton:hover {
    background-color: rgb(51, 255, 0);
}

.adicionarTarefasButton a ,
.adicionarTarefasButton a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.containerTarefas {
    width: 60%;
    display: flex;
    flex-direction: row-reverse !important;
    gap: 1em;
}

.formBuscaTarefas {
    display: flex;
    flex-direction: column;
    gap: 0.5em; 
}

.formBuscaTarefas input,
.formBuscaTarefas button {
    padding: 0.5em;
    max-width: 100%;
    min-width: 100%;
}

.exibirTarefas {
    display: flex;  
    gap:1em 
}

.paginasTarefas {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    font-size: 1.3em;
}

.paginaTarefa {
    background-color: rgb(133, 128, 128);
    padding: 0.5em;
} 

.exibirTarefas {
    max-width: 100%;
    margin: 0 auto;
}

.containerTarefas {
    width: 100%;
}

.containerTarefas form {
    width: 50%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.exibirTarefas button {
    min-width: 25%;
}