table, tr, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    border-radius: 3em;
}

th, td {
    padding: 0.5em;
}

a {
    text-decoration: none;
}

.adicionarContatosButton {
    background-color: rgb(117, 255, 99);
    border-radius: 5%;
    padding: 1em;
    border: none;
    cursor: pointer;
}

.adicionarContatosButton:hover {
    background-color: rgb(51, 255, 0);
}

.adicionarContatosButton a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.containerContatos {
    display: flex;
    flex-direction: column !important;
    gap: 1em;
}

.formBuscaContatos {
    display: flex;
    flex-direction: column;
    gap: 0.5em; 
}

.formBuscaContatos input,
.formBuscaContatos button{
    padding: 0.5em;
    width: 100%;
}

.exibirContatos {
    display: flex;  
    gap:1em 
}